@import './veriables';

.manufacture {
    font-family: $logoTextFont;
    color: $textMainColor;
    font-size: 34px;
    display: flex;
    justify-content: center;
    transition: 250ms $cubic;

    &:hover,
    &:focus {
        text-shadow: 2px 2px 20px #ff0000,
            5px 5px 5px #000000;
    }

    @media screen and (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.container__header {
    display: flex;
}

.mobile__nav {
    display: flex;
    flex-direction: column;
}

.nav {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.nav__list {
    font-family: $mainTextFont;
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    // @media screen and (min-width: 1200px) {
    //     margin-right: auto;
    //     margin-left: auto;
    // }
}

.nav__item {
    margin-right: 20px;
    border-right: 1 solid rgba(154, 154, 154, 0.7);
    padding-right: 20px;

    &:last-child {
        margin-right: 0;
        border-right: none;
    }
}

.mobile__nav-item {
    @media screen and (max-width: 767px) {
        border-style: none;
        padding: 0;
        margin-right: 0;
    }
}

.nav__link {
    color: rgba(154, 154, 154, 0.8) ;
    transition: 250ms $cubic;

    &:hover,
    &:focus {
        color: rgba(181, 9, 9, 0.8);
    }
}

.menu__burger {
    fill: $textMainColor;
    background-color: transparent;
    border: none;
}