@import './veriables';

.hero__title {
    font-family: $titleTextFont;
    font-size: 32px;
    display: flex;
    justify-content: center;
    min-width: 320px;
    max-width: 1200px;
    background-color: rgb(156, 16, 16);
    padding-top: 100px;
    padding-bottom: 100px;
}

// .hero__logo {
    
// }