@import './veriables';
@import './header';
@import './hero';

body {
  background-color: $backgroundColor;
  color: $textMainColor;
}

h1,
h2,
h3,
p,
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  // @media screen and (min-width: 768px) {
  //   width: 768px;   

  // }

  // @media screen and (min-width: 1200px) {
  //   width: 1200px;
  // }
}