$backgroundColor:  rgb(41, 41, 41);
$textMainColor: rgb(255, 255, 255);

$logoTextFont: 'Rye', cursive;
$titleTextFont: 'Amatic SC', cursive;
$mainTextFont: 'Alegreya', serif;
$descriptionTextFont: 'Marck Script', cursive;